.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-12);
}

.headerNav ul li a {
    font-size: var(--text-lg);
    color: var(--color-text-muted);
    transition: ease-in-out 0.2s;
}

.headerNav ul li a:hover {
    color: var(--color-gold-hover);
}

@media (max-width: 768px) {
    .headerNav {
        margin-bottom: var(--space-8);
    }
    .headerNav ul {
        gap: var(--space-6);
    }

    .headerNav ul li a {
        font-size: var(--text-md);
    }
}

@media (max-width: 480px) {
    .headerNav ul {
        gap: var(--space-4);
    }

    .headerNav ul li a {
        font-size: var(--text-base);
    }
}
